body {
  margin: 0;
  padding: 0;
  z-index: 100;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  text-align: center;
}



/* content start */
/* tab start */
.tab {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #F2AA4Cff;
  padding-top: 5rem;
}

.tab button {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: .5rem;
}

#a {
  position: fixed;
}

#b {
  position: fixed;
  margin-right: 12rem;
}

#c{
  position: fixed;
  margin-left: 14rem;
}

#d{
  position: fixed;
  /* margin-right: 24rem; */
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #b6a6a6;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-top: 2.5rem;
}

/* tab end */

/* product start */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: .2rem;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* product end */

/* content end */

/* footer start */
/* iframe{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    height: 23.6rem;
    position: relative;
} */
/* footer end */