.card1{
    width: 30rem;
    background-color: aqua;
    height: 10rem;
    border: solid red;
    border-radius: 2rem;
    margin: auto;
}

.card1 span{
    margin-left: 11rem;
    font-size: larger;
    font-weight: bolder;
}

.subject{
    width: 20rem;
    background-color: aqua;
    height: 10rem;
    border: solid red;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.progress{
    margin-left: 3rem;
    font-size: larger;
    font-weight: bolder;
}

.subjects{
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-gap: 10px;
    margin-top: 5rem;
    margin-left: 8rem;
}