.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  .button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }

  /* footer */

  footer {
    width: 100%;
    overflow-x: hidden;
  }
  
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .footer .section {
    flex: 1 0 200px;
    margin: 1rem;
    box-sizing: border-box;
  }
  
  .footer .section a {
    text-decoration: none;
    color: white;
  }
  
  footer .section img{
    width: 2rem;
    border: 1.5px solid;
    border-color: #fff;
  }
  
  .footer .logo {
    display: flex;
    align-items: center;
  }
  
  .footer .logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .footer .social-media {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  @media (max-width: 600px) {
    .footer {
      flex-direction: column;
    }
  }
  
  /* social media start */
  
  .social-media {
    background-color: #333;
  }
  
  .footer-social-links {
    font-size: 14px;
    text-align: center;
    /* margin-top: 20%; */
  }
  
  .footer-social-links a {
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #fff;
  
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  }
  
  .footer-social-links a i,
  .footer-social-links a span {
    position: relative;
    top: 2px;
    left: 1px;
  }
  
  .footer-social-links a:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
  
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
  
  }
  
  /* .footer-social-links a:hover {
    color: #fff;
  } */
  
  .footer-social-links a:hover:before {
    background: #111;
  }
  
  /* social media end */
  
  footer span a{
    color: white;
    text-align: center;
  }
  
  footer span{
    margin-top: 2rem;
    margin-left: 6rem;
  }

  /* extra */

  marquee{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: xx-large;
    /* position: fixed; */
  }

  .myBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  .myBtn:hover {
    background-color: #555;
  }