/* section1 start */
.box1 {
  width: 95%;
  margin-bottom: 5rem;
  text-align: justify;
}

@media screen and (max-width: 37.5rem) {
  .box1 {
    height: 15.625rem;
  }
}

.TWI {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiBUHziT6BBm1PaM3EW2MgUnFJvj-5gMwMTjDDeMhZ82EdY1Mu");
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  background-size: cover;
  float: right;
  margin-left: 2rem;
  margin-top: 5rem;
}

/* section1 end */