/* form part start */
/* Styling for the pop-up container */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  /* Styling for the pop-up box */
  .popup-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
  
    width: 100%;
    height: 90%;
  
  }
  
  /* Styling for the close button */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  
    height: 100%;
  
  }
  
  /* Styling for the overlay animation */
  .popup-container.active {
    display: flex;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* Keyframes for fading in the overlay */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  /* form style */
  .form {
    width: 100%;
    height: 100%;
  }
  
  /* form part end */
  
  /* page part 1 */
  
  
  .box1{
    width:95%;
    margin-left:auto;
    margin-right:auto;
    height:200px;
    margin-bottom: 5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .coding1{
    background: url("images/1st-img.jpg");
    width:170px;
    height:170px;
    object-fit:cover;
    background-size:cover;
    float:right;
    margin: 1rem;
  }
  
    .coding2{
      background: url("images/ncert.jpg");
      width:170px;
      height:170px;
      object-fit:cover;
      background-size:cover;
      float:left;
      margin: 1rem;
    }

    .coding3{
      background: url("images/puzzle.jpg");
      width:170px;
      height:170px;
      object-fit:cover;
      background-size:cover;
      float:right;
      margin: 1rem;
    }

    .coding4{
      background: url("images/expert.jpg");
      width:170px;
      height:170px;
      object-fit:cover;
      background-size:cover;
      float:left;
      margin: 1rem;
    }

    .coding5{
      background: url("images/experience.jpg");
      width:170px;
      height:170px;
      object-fit:cover;
      background-size:cover;
      float:right;
      margin: 1rem;
    }
  
  .btn1{
    margin-top:10px;
    float: left;
    padding: 0.625rem 1.35rem;
    border-radius: 0.3125rem;
    font-size: 1rem;
    background-color: #28db25;
    border: none;
    cursor: pointer;
    margin: 1rem;
  }
  h3{
    margin-top:1rem;
  }
  p{
    margin:0rem;
  }
  
  /* page part 2 */
  
  .slider img{
    width: 10rem;
    margin: 1rem;
}

.slider{
    /* margin-left: auto;
    margin-right: auto;*/
    width: 99%;
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 10px; */
  margin-left:auto;
  margin-right:auto;
}

.courses{
  width: 100%;
}
    